@import "tailwindcss";

/* custom styles below */

/* Basic Reset */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Container for sidebar + mainbar */
.items {
  display: grid;
  grid-template-columns: 20% 73%;
  gap: 20px;
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 330px;
  position: sticky;
  top: 50px;
  align-self: start;
}

.menu {
  width: 100%;
}
.menu:hover {
  transform: scale(1.05);
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.mainbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 20px;
}

.food-card {
  height: 400px;
  width: 350px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: grid;
}

.food-card:hover {
  transform: scale(1.05);
}

.food-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.food-card section {
  display: flex;
  justify-content: space-evenly;
}

.food-card section button {
  background-color: green;
  color: white;
  padding: 7px;
  font-size: 20px;
  height: 45px;
  border-radius: 20px;
}

.food-card section button:hover {
  background-color: rgb(228, 149, 2);
}
